@charset "utf-8";
/* CSS Document */

body{
	background:#efefef;
	margin:0;
	padding:0;
	
	color:#222;
}

#header-container{
	width:100%;
	margin:0;
	padding:0 0 2px 0;
	position:relative;
	box-shadow:0px -2px 0px 0px #0071BC inset;
}
.header-main-col{
	width:1100px;
	height:80px;
	margin:0 auto;
	padding:0;
	position:relative;
}
	#logo{
		width:250px;
		height:80px;
		margin:0;
		padding:0;
		position:relative;
		float:left;
		
		line-height:40px;
		font-size:35px;
		text-align:left;
		font-family:Verdana, Geneva, sans-serif;
		color:#0071bc;
	}

#content-container{
	width:100%;
	margin:0;
	padding:0;
	position:relative;
}
.content-main-col{
	width:1100px;
	min-height:600px;
	margin:0 auto;
	padding:0;
	position:relative;
}

#footer-container{
	width:100%;
	margin:0;
	padding:2px 0 0 0;
	position:relative;
	box-shadow:0px 2px 0px 0px #0071BC inset;
}
.footer-main-col{
	width:1100px;
	height:60px;
	margin:0 auto;
	padding:0;
}