@charset "utf-8";
/* CSS Document */

body{
	background:#424242;
	margin:0;
	padding:0;
	
	color:#222;
	font-family:Verdana, Geneva, sans-serif;
}
a, a:link, a:visited{
	color:#424242;
	text-decoration:underline;
}
a:hover, a:visited{
	color:#222;
	text-decoration:none;
}
.italics{
	font-style:italic;
}

#header-container{
	background:#efefef;
	width:100%;
	margin:0;
	padding:0 0 2px 0;
	position:relative;
	box-shadow:0px -2px 0px 0px #0071BC inset;
}
.header-main-col{
	width:1000px;
	height:80px;
	margin:0 auto;
	padding:0;
	position:relative;
}
	#logo{
		width:250px;
		height:80px;
		margin:0;
		padding:0;
		position:relative;
		float:left;
		
		line-height:40px;
		font-size:35px;
		text-align:left;
		font-family:Verdana, Geneva, sans-serif;
		color:#0071bc;
	}
	#navigation{
		width:730px;
		height:40px;
		margin:10px 0;
		padding:10px 0 10px 20px;
		position:relative;
		float:right;
		
		box-shadow:2px 0px 0px 0px #dfdfdf inset;
	}
	#navigation ul{
		height:40px;
		margin:0;
		padding:0;
		position:relative;
		float:left;
		
		list-style-type:none;
	}
	#navigation ul li{
		margin:0;
		padding:0;
		position:relative;
		float:left;
	}
	#navigation ul li a,
	#navigation ul li a:link,
	#navigation ul li a:visited{
		height:30px;
		margin:0;
		padding:5px 20px;
		position:relative;
		float:left;
		display:block;
		
		line-height:30px;
		font-size:22px;
		color:#8f8f8f;
		text-decoration:none;
	}
	#navigation ul li a:hover,
	#navigation ul li a:active{
		text-decoration:underline;
	}
	#navigation #social{
		height:40px;
		margin:0;
		padding:0;
		position:relative;
		float:right;
	}
	#navigation #social a{
		width:30px;
		height:30px;
		margin:5px 0 5px 10px;
		padding:0;
		float:right;
		
		line-height:30px;
		font-size:30px;
		text-align:center;
		color:#8f8f8f;
		text-decoration:none;
	}

#content-container{
	background:#efefef;
	width:100%;
	margin:0;
	padding:20px 0;
	position:relative;
}
.content-main-col{
	width:1000px;
	min-height:600px;
	margin:0 auto;
	padding:0;
	position:relative;
}
.post{
	width:970px;
	margin:10px 0;
	padding:10px 15px;
	position:relative;
	box-shadow:0px 0px 0px 1px #dfdfdf inset;
	border-radius:10px;
}
	.post .title{
		width:100%;
		height:35px;
		margin:0;
		padding:0;
		
		line-height:35px;
		font-size:22px;
		font-weight:600;
	}
	.post .post-info{
		width:100%;
		height:20px;
		margin:0;
		padding:0;
		
		line-height:20px;
		font-size:14px;
		font-style:italic;
		color:#8f8f8f;
	}
	.post .payload{
		width:100%;
		margin:0;
		padding:15px 0 10px 0;
		
		line-height:21px;
		font-size:17px;
	}

#footer-container{
	background:#dedede;
	width:100%;
	margin:0;
	padding:2px 0 0 0;
	position:relative;
	box-shadow:0px 2px 0px 0px #0071BC inset;
}
.footer-content-main-col{
	width:1000px;
	height:150px;
	margin:0 auto;
	padding:0;
}
	.footer-column{
		width:230px;
		margin:0;
		padding:10px 20px;
		position:relative;
		float:left;
		box-shadow:0px 0px 0px 1px #dfdfdf inset;
	}
	.footer-column ul{
		width:230px;
		margin:0;
		padding:0;
		list-style-type:none;
	}
	.footer-column ul li{
		margin:0 0 4px 0;
		padding:0;
	}
	.footer-column ul li a,
	.footer-column ul li a:link,
	.footer-column ul li a:visited{
		margin:0;
		padding:0;
		
		line-height:30px;
		font-size:16px;
		text-decoration:none;
	}
	.footer-column ul li a:hover,
	.footer-column ul li a:active{
		text-decoration:underline;
	}
.footer-copyright-main-col{
	width:100%;
	height:40px;
	margin:0 auto;
	padding:0;
}
	.copyright{
		background:#424242;
		width:100%;
		height:20px;
		margin:0;
		padding:10px 0;
		position:relative;
		box-shadow:0px 2px 0px 0px #0071BC inset;
		
		line-height:20px;
		font-size:14px;
		text-align:center;
		color:#8f8f8f;
	}
